In [1]:
#importing packages
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel

In [2]:
#reading csv file
data=pd.read_csv("C:/Users/rakhi/Downloads/dataset w7.csv")
data

    Gender Test preparation  Total Marks
0     male             none           14
1   female             none           28
2   female             none           18
3   female             none           48
4   female             none           21
5   female        completed           40
6     male             none           30
7   female             none           12
8     male             none           18
9     male             none           24
10    male        completed           44
11    male             none           23
12    male        completed           43
13    male             none           28
14  female             none           41
15  female             none           13
16  female        completed           48
17  female             none           45
18    male             none           47
19    male             none           36
20    male             none           14
21    male        completed           44
22  female             none           41
23  female             none           27
24  female             none           27
25  female             none           38
26  female        completed           50
27  female        completed           43

In [3]:
#checking null values
data.isnull().sum()

Gender              0
Test preparation    0
Total Marks         0
dtype: int64

There is no null values.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Gender            28 non-null     object
 1   Test preparation  28 non-null     object
 2   Total Marks       28 non-null     int64
dtypes: int64(1), object(2)
memory usage: 800.0+ bytes

In [5]:
#coloumn names
data.columns

Index(['Gender', 'Test preparation', 'Total Marks'], dtype='object')

#### 1. Carry out descriptive analytics on the dataset.

In [6]:
data.describe()

       Total Marks
count    28.000000
mean     32.321429
std      12.454520
min      12.000000
25%      22.500000
50%      33.000000
75%      43.250000
max      50.000000

In [7]:
data.groupby('Test preparation')['Total Marks'].describe()

                  count       mean        std   min   25%   50%   75%   max
Test preparation
completed           7.0  44.571429   3.359422  40.0  43.0  44.0  46.0  50.0
none               21.0  28.238095  11.661495  12.0  18.0  27.0  38.0  48.0

In [8]:
data.groupby('Gender')['Total Marks'].describe()

        count       mean        std   min    25%   50%    75%   max
Gender
female   16.0  33.750000  12.865976  12.0  25.50  39.0  43.50  50.0
male     12.0  30.416667  12.168950  14.0  21.75  29.0  43.25  47.0

In [9]:
data.groupby(['Gender','Test preparation'])['Total Marks'].describe()

                         count       mean        std   min    25%   50%   75%  \
Gender Test preparation
female completed           4.0  45.250000   4.573474  40.0  42.25  45.5  48.5
       none               12.0  29.916667  12.486053  12.0  20.25  27.5  41.0
male   completed           3.0  43.666667   0.577350  43.0  43.50  44.0  44.0
       none                9.0  26.000000  10.758717  14.0  18.00  24.0  30.0

                          max
Gender Test preparation
female completed         50.0
       none              48.0
male   completed         44.0
       none              47.0

#### 2. Check whether female and male students scored the same marks.

Here, hypothesis are:

Ho: Female and male students scored the same mark.

 H1: Feamle and male students scored different marks.

Since sample size is small and population standard deviation is unknown, we use t-test.

In [10]:
male=data[data['Gender']=='male'][['Total Marks']]
female=data[data['Gender']=='female'][['Total Marks']]
t_score,p_val=ttest_ind(male,female)
print('t score=',t_score,'\np value =',p_val)
alpha=0.05
if p_val>alpha:
    print('We fail to reject the null hypothesis.\nFemale and male students scored the same mark.')
else:
    print('We reject the null hypothesis.\nFemale and male students scored different mark.')

t score= [-0.69408853]
p value = [0.49378223]
We fail to reject the null hypothesis.
Female and male students scored the same mark.

#### 3. Whether test preparation helps the students?

Here, hypothesis are:

Ho: The test preparation did not help the students.

H1: The test preparation helped the students.

Since sample size is small and population standard deviation is unknown, we use t-test.

In [11]:
prep=data[data['Test preparation']=='completed'][['Total Marks']]
no_prep=data[data['Test preparation']=='none'][['Total Marks']]
t_score,p_val=ttest_ind(prep,no_prep)
print('t score=',t_score,'\np value =',p_val)
alpha=0.05
if p_val>alpha:
    print('We fail to reject the null hypothesis.\nTest preparation did not help the students.')
else:
    print('We reject the null hypothesis.\nTest preparation helps the students.')

t score= [3.61436375]
p value = [0.00126713]
We reject the null hypothesis.
Test preparation helps the students.